<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE"> Spring </title>

    <style th:replace="@{/shared/admin/_style}"></style>

</head>
<body>

    <div th:replace="@{/shared/admin/_header}"></div>

    <div th:replace="@{/shared/admin/_left-side-bar}"></div>

    <div layout:fragment="content"></div>

    <div th:replace="@{/shared/admin/_footer}"></div>

    <div th:replace="@{/shared/admin/_right-side-bar}"></div>

    <div th:replace="@{/shared/admin/_script}"></div>

</body>
</html>