<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">

    <div class="card-content">

    </div>

    <div class="row">
        <div class="col s12">
            <div class="page-title" th:text="#{userDetail}"></div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <table id="example" class="display responsive-table datatable-example">

                        <tr>
                            <td th:text="#{totalUsers}"></td>
                            <td th:text="${TOTALUSERS}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{totalMale}"></td>
                            <td th:text="${TOTALMALE}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{totalFemale}"></td>
                            <td th:text="${TOTALFEMALE}"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>