<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title" th:text="#{addDataUser}"></span><br>
                    <div class="row">
                        <form class="col s12" th:object="${USER}" th:action="@{/user-c}" th:method="POST">

                            <div class="row">
                                <div class="input-field col s6">
                                    <input th:field="*{userId}" type="text" class="validate">
                                    <label  th:text="#{userId}"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <input th:field="*{firstName}" type="text" class="validate">
                                    <label  th:text="#{firstName}"></label>
                                </div>
                                <div class="input-field col s6">
                                    <input th:field="*{lastName}" id="last_name" type="text" class="validate">
                                    <label for="last_name" th:text="#{lastName}"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input th:field="*{username}" type="text" class="validate">
                                    <label  th:text="#{username}"></label>
                                </div>
                                <div class="input-field col s6">
                                    <select th:field="*{gender}">
                                        <option value="Male" th:text="#{male}"></option>
                                        <option value="Female" th:text="#{female}"></option>
                                    </select>
                                    <label th:text="#{gender}"></label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input th:field="*{email}" type="email" class="validate">
                                    <label th:text="#{email}"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input th:type="submit" class="btn btn-primary" th:value="#{submit}">
                                    <input th:type="reset" class="btn btn-warning" th:value="#{reset}">

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
</html>