<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="admin-layout">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>

    <div layout:fragment="content">

            <div class="row">
                <div class="col s12">
                    <div class="page-title" th:text="#{dataUser}"></div>
                </div>
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                           <table id="example" class="display responsive-table datatable-example">
                                <thead>
                                <tr>
                                    <th th:text="#{userId}"></th>
                                    <th th:text="#{firstName}"></th>
                                    <th th:text="#{lastName}"></th>
                                    <th th:text="#{gender}"></th>
                                    <th th:text="#{username}"></th>
                                    <th th:text="#{email}"></th>
                                    <th th:text="#{role}"></th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th th:text="#{userId}"></th>
                                    <th th:text="#{firstName}"></th>
                                    <th th:text="#{lastName}"></th>
                                    <th th:text="#{gender}"></th>
                                    <th th:text="#{username}"></th>
                                    <th th:text="#{email}"></th>
                                    <th th:text="#{role}"></th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Channat</td>
                                    <td>Tem</td>
                                    <td>Male</td>
                                    <td>username</td>
                                    <td>email@gmail.com</td>
                                    <td>Admin</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Sreypov</td>
                                    <td>Tan</td>
                                    <td>Female</td>
                                    <td>username</td>
                                    <td>email@gmail.com</td>
                                    <td>Teacher</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Virak</td>
                                    <td>Songheng</td>
                                    <td>Male</td>
                                    <td>username</td>
                                    <td>email@gmail.com</td>
                                    <td>Student</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Bopha</td>
                                    <td>Von</td>
                                    <td>Female</td>
                                    <td>username</td>
                                    <td>email@gmail.com</td>
                                    <td>Admin</td>
                                </tr>

                                <tr th:each="USER : ${USERS}">
                                    <td th:text="${USER.userId}"></td>
                                    <td th:text="${USER.firstName}"></td>
                                    <td th:text="${USER.LastName}"></td>
                                    <td th:text="${USER.gender}"></td>
                                    <td th:text="${USER.username}"></td>
                                    <td th:text="${USER.email}"></td>
                                    <td th:text="${USER.role}"></td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</body>
</html>